## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
**/packages/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## OS
Thumbs.db
.DS_Store
